.tc-maincolor {
    background-color: #ff5722 !important;
}

.tc-maincolor-text {
    color: #ff5722 !important;
}

.tc-maincolor.lighten-5 {
    background-color: #fbe9e7 !important;
}

.tc-maincolor-text.text-lighten-5 {
    color: #fbe9e7 !important;
}

.tc-maincolor.lighten-4 {
    background-color: #ffccbc !important;
}

.tc-maincolor-text.text-lighten-4 {
    color: #ffccbc !important;
}

.tc-maincolor.lighten-3 {
    background-color: #ffab91 !important;
}

.tc-maincolor-text.text-lighten-3 {
    color: #ffab91 !important;
}

.tc-maincolor.lighten-2 {
    background-color: #ff8a65 !important;
}

.tc-maincolor-text.text-lighten-2 {
    color: #ff8a65 !important;
}

.tc-maincolor.lighten-1 {
    background-color: #ff7043 !important;
}

.tc-maincolor-text.text-lighten-1 {
    color: #ff7043 !important;
}

.tc-maincolor.darken-1 {
    background-color: #f4511e !important;
}

.tc-maincolor-text.text-darken-1 {
    color: #f4511e !important;
}

.tc-maincolor.darken-2 {
    background-color: #e64a19 !important;
}

.tc-maincolor-text.text-darken-2 {
    color: #e64a19 !important;
}

.tc-maincolor.darken-3 {
    background-color: #d84315 !important;
}

.tc-maincolor-text.text-darken-3 {
    color: #d84315 !important;
}

.tc-maincolor.darken-4 {
    background-color: #bf360c !important;
}

.tc-maincolor-text.text-darken-4 {
    color: #bf360c !important;
}

.tc-maincolor.accent-1 {
    background-color: #ff9e80 !important;
}

.tc-maincolor-text.text-accent-1 {
    color: #ff9e80 !important;
}

.tc-maincolor.accent-2 {
    background-color: #ff6e40 !important;
}

.tc-maincolor-text.text-accent-2 {
    color: #ff6e40 !important;
}

.tc-maincolor.accent-3 {
    background-color: #ff3d00 !important;
}

.tc-maincolor-text.text-accent-3 {
    color: #ff3d00 !important;
}

.tc-maincolor.accent-4 {
    background-color: #dd2c00 !important;
}

.tc-maincolor-text.text-accent-4 {
    color: #dd2c00 !important;
}





h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 2.5em;
}

h4 {
    font-size: 2em;
}

h5 {
    font-size: 1.75em;
}

h6 {
    font-size: 1.5em;
}

p {
    padding-top: 0.1em;
}

/*
.input-field input:focus + label {
    color: #ff5722 !important;
}

.row .input-field input:focus {
    border-bottom: 1px solid #ff5722 !important;
    box-shadow: 0 1px 0 0 #ff5722 !important
}
*/

/* label color */
.input-field label {
    color: #000;
}
/* label focus color */
.input-field input[type=text]:focus + label {
    color:  #ff5722 !important;
}
/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid  #ff5722 !important;
    box-shadow: 0 1px 0 0  #ff5722 !important;
}
/* valid color */
.input-field input[type=text].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
.input-field input[type=text].invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}
/* icon prefix focus color */
.input-field .prefix.active {
    color: #000;
}

/* label focus color */
.input-field textarea:focus + label {
    color:  #ff5722 !important;
}
/* label underline focus color */
.input-field textarea:focus {
    border-bottom: 1px solid  #ff5722 !important;
    box-shadow: 0 1px 0 0  #ff5722 !important;
}
/* valid color */
.input-field textarea.valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
.input-field textarea.invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}

ul.dropdown-content.select-dropdown li span {
    color: #ff5722; /* no need for !important :) */
}

ul.browser-default {
    padding-left: 20px;
}
ul.browser-default li {
    list-style-type: square;
}

.carousel-indicators li {
    display: inline-block;
    width: 48px;
    height: 48px;
    margin: 10px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: #000000;
    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);
}
.carousel-indicators .active {
    width: 48px;
    height: 48px;
    margin: 10px;
    background-color: #ff0000;
}

.modal { width: 85% !important ; max-height: 95% !important }

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

li a.active {
    background: rgba(0,0,0,0.2);
}

nav ul a.active {
    background: rgba(0,0,0,0.2);
}
