
html {
    font-family:  'Roboto', GillSans, sans-serif;
    font-size: 90%;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

li a.active {
    background: rgba(0,0,0,0.2);
}

nav ul a.active {
    background: rgba(0,0,0,0.2);
}
